<div class="feature" cdkDragBoundary=".app-root__main" cdkDrag (cdkDragMoved)="move($event)"
     (cdkDragStarted)="dragStart()"
     (cdkDragEnded)="drop($event)"
     [style.left.px]="configs.x"
     [style.top.px]="configs.y"
     [style.width.px]="configs.width"
     [style.height.px]="configs.height"
     [class.feature-lock]="lock"
     appResizable
     [resizeDisabled]="lock"
     (resizeMove)="onResizeMove($event)"
     (resizeEnd)="onResizeEnd()"
     (resizeStart)="onResizeStart()"
     [resizeMinWidth]="minWidth"
     [resizeMinHeight]="minHeight"
>
  <button mat-icon-button class="drag-handler" [disabled]="lock" cdkDragHandle><i
    class="fa-regular fa-arrows-up-down-left-right"></i>
  </button>
  <button mat-icon-button class="remove" [disabled]="lock" (click)="removeFeature()"><i class="fas fa-trash"></i>
  </button>
  <img *ngIf="lock" src="assets/img/lock-solid.svg" class="feature__lock"/>
  <button
    [style.font-size.px]="formGroup.get('fontSize')?.value"
    [style.font-weight]="formGroup.get('bold')?.value ? 'bold' : '100'"
    [style.color]="formGroup.get('color')?.value"
    [style.background-color]="formGroup.get('backgroundColor')?.value"

    [style.min-height.px]="minHeight"
    [style.min-width.px]="minWidth"
    (dblclick)="changeDataConfig(dataConfigs)"
  >
    <form [formGroup]="formGroup">
      <span


      >{{formGroup.get('text')?.value}}</span>
    </form>
  </button>
</div>
