.app-left-side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__group {
    position: relative;
    width: 100%;

    &--title {
      font-size: 14px;
      font-weight: bold;
    }

    button {
      &.mat-mdc-icon-button {
        width: 100%;
        height: 50px;
        padding: 0 4px;
        line-height: 50px;
        color: white;
        font-size: 24px;
        position: relative;
      }
    }
  }

}
