.header {
  background-color: #00bbff;
  color: white;
  padding: 10px 16px;
  min-width: 300px;
  font-weight: 500;
}

.content {
  padding: 16px;

  .item {
    display: flex;
    align-items: center;

    label {
      width: 200px;
      margin-right: 10px;
      color: #656565;
    }

    input {
      outline: none !important;
      padding: 6px 12px;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.38);
      color: rgba(0, 0, 0, 0.87);
      font-size: 16px;
      display: block;
      margin: 14px 0;
      width: 100%;
      box-sizing: border-box;
    }

    mat-checkbox {
      width: 100%;
    }
  }
}

.footer {
  padding: 10px 16px;

  button {
    background-color: transparent;
    color: #6b6b6b;
    padding: 8px 8px;
    border: 1px solid #6b6b6b;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
  }
}




